body {
    height: 615px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 35%;
    min-width: 255px;
    margin-top: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0px 0px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents {
    width: 80%;
}

.drop_area {
    height: 200px;
    background-color: #eeffff;
    margin: 0 auto;
    border: dashed 1px #00ffff;
    border-radius: 10px;
    color: #c0c0c0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploading {
    box-shadow: 0px 0px 2px;
    width: 35%;
    display: none;
    align-items: center;
    justify-content: center;
}

.uploading_contents {
    width:90%;
}

.uploaded_contents {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 28%;
    min-width: 255px;
    box-shadow: 0px 0px 2px;
    display: none;
    align-items: center;
    justify-content: center;
}

.your_image_contents {
    width: 60%;
}

.upload {
    font-size: 20px;
    margin-top: 0;
    font-weight: bold;
}

.submit {
    width: 50%;
    cursor: pointer;
    background-color: #0099ff;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.or {
    color: #c0c0c0;
}

.file_input {
    display: none;
}

.success {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.img_contents {
    width: 90%;
    align-items: center;
}

.img_contents > img {
    width: 100%;
}

.link {
    width: 100%;
}

.copy_link_text {
    width: 70%;
    background-color: #eeffff;
    border: solid 1px;
    border-radius: 8px;
    height: 30px;
}

.copy_link_button {
    width: 25%;
    background-color: #0099ff;
    color: #ffff;
    border: none;
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
}